/* nav stlyes */

.main-brand-text span .webdev-span {
    font-weight: bold;
    color: pink;
}

.main-brand-text:hover {
    font-weight: bold;
    color: #FFD372;
}

.nav-link:hover {
    color: pink;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

nav img {
    height: 50px;
}

@media screen and (max-width: 520px) {
    nav .hide-in-smartphone {
        display: none;
    }
}

/* main style */
/* first main content */

main .main-konten-pict {
    height: 350px;
    padding-right: 0;
    margin-left: 0;
}

section h1 {
    font-size: 70px;
}

section img {
    height: 500px;
}

section .wsc-text {
    color: pink;
}

section .growing-text {
    color: #FFD372;
}

/* media query for responsive */
@media screen and (max-width: 992px) {
    main section .hide-in-lg {
        display: none;
    }
}

/* @media screen and (max-width:500px) {
    section h1 {
        font-size: 50px;
    }
} */

/* second main content */
article section .second-main-paragraph {
    text-align: justify;
}

article section .second-main-image {
    text-align: center;
}

/* fourth main content */
.card-structure-org {
    border: none;
}

.structure-org-icon {
    height: 200px;
    width: 200px;
}

/* fivth content */

.fivth-content-img {
    border: none;
}

.fivth-content-img img {
    border-radius: 5px;
}

@media screen and (max-width: 700px) {
    .card-mengapa {
        height: 420px;
    }
}

@media screen and (max-width: 1000px) {
    .fivth-content-img {
        margin: 0 auto;
    }
}